/* body */
body {
    font-size: 1rem;
    font-family: sans-serif;
    letter-spacing: 0.8rem;
    text-align: center;
    margin: 0;
}
/* body */

/* header */
header {
    font-size: 2rem;
    background-color: #00ffa2b8;
    text-decoration: underline;
    text-decoration-style: wavy;
    border-top: 2px solid #000;
    border-bottom: 10px solid #000;
    border-bottom-style: ridge;
}

header h1 {
    margin: 1% 0%;
}
/* header */

/* containers */
/* main container */
.mainCont {
    border: 2px solid red;
}
/* main container */

/* equation generator */
.equationGenerator {
    border: 2px solid orchid;
}
/* equation generator */

/* add */
.equationAdd {
    border: 2px solid red;
}
/* add */

/* generate button */
button {
    background-color: aqua;
    border: 2px solid red;
}
/* generate button */

/* subtract */
.equationSub {
    border: 2px solid red;
}
/* subtract */

/* multiply */
.equationMultiply {
    border: 2px solid red;
}
/* multiply */

/* division */
.equationDivision {
    border: 2px solid red;
}
/* division */

/* containers */